/*  */
*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
    border: 1px solid red;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
 
}

/* Sheard Style started Here */
/* Margin */

.mx-auto{
    margin: 0 auto;
}
.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-7{
    margin-top: 7rem;
}
.mb-7{
    margin-top: 7rem;
}
/* paddin Style  */

.pl-7-5{
   padding-left: 7.5rem;
}
.pr-4{
    padding-right: 18rem;
}
.pr-7-5{
   padding-right: 7.5rem;
}
.px-7-5{
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}
.pt-7{
    padding-top: 7rem;
}
.pt-1{
    padding-top: 1rem;
}
.pb-1{
    padding-bottom: 1rem;
}

.border-round{
    border-radius: 4px;
}

.border-rounded{
    border-radius: 30px;

}

.border-1-white{
    border: 1px solid rgba(255, 255, 255, 1);
}

.border-none{
    border: none;
}
/* Background Color */
.bg-praymary{
    background-color: #30B868 ;
}

.bg-scondary{
    background-color: rgba(255, 255, 255, 1);
}

.bg-none{
    background-color: transparent;
}

/* Text Style */
.text-white{
    color: rgba(255, 255, 255, 1);
}

.text-praimary{
    color: #30B868 ;
}


.text-center{
    text-align: center;
}

.text-48{
    font-size: 48px;
}

.paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
   
}

.card{
    width: 322px;
    height: 200px;
    padding: 24px;
     border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 64px 24px 42px ;
}

.card img{
    width: 32px;
    height: 32px;
    background: rgba(249, 85, 85, 1);
    border: none;
    padding: 6px;
    border-radius: 100%;

}

/* heading Style */
.h-2{
font-weight: 700;
line-height: 58px;
color: #001931 ;

}
/* Button Style */
.btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
     cursor: pointer;
    line-height: 19px;
}

.btn:hover{
    opacity: 75%;
}

.opacity-75{
    opacity: 75%;

}

/*  */

.cursor-pointer{
    cursor: pointer;
}

/* flex and Grid style */

.flex{
    display: flex;

}
.flex-col{
    display: flex;
    flex-direction: column;
}
.grid{
    display: grid;
}

.content-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

.items-center{
    justify-items: center;
}

.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
.gap-4{
    gap: 4rem;
}
.gap-5{
    gap: 5rem;
}
.gap-6{
    gap: 6rem;
}

/* Width  */
.w-11{
    width: 18rem;
}

/* Sheard Style End Here */

/* Nave Style Here */
nav{
    background-color: rgba(255, 255, 255, 1);
}
nav .logo-img{
    width: 47px ;
}
nav ul li{
    list-style: none;
}
nav ul li a {
font-size: 16px;
font-weight: 500;
line-height: 150%;
cursor: pointer;
text-decoration: none;
color: black;
padding: 4px;
border: none;
border-radius: 5px;

}

nav ul li a:hover{
    background-color: #30B868;
    color: #EDF07B;
    
}

#banner{
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.303),
      rgba(0, 0, 0, 0.349)
    ),
    url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#banner .content{
    padding: 150px 220px;
    
}

#heading-text-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;

}

#heading-text-content p{
    font-size: 18px;
    margin-top: 20px;
    line-height: 24px;

}

#dont-fail{

}